---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Abonnement">
  <div class="max-w-screen-lg m-2 lg:m-auto">
    <h2 class="page_title">S'abonner - Acheter un volume</h2>
    <p style="text-align: center;">
      Une formule d'abonnement est en cours de mise en place.<br />
       Les volumes peuvent être achetés individuellement auprès des <a
        href="http://www.editions-dalloz.fr/">éditions Dalloz</a
      >.&nbsp;
    </p>

    <h4 style="text-align: center;">
      <div style="background-color:rgb(176, 0, 29)"; class="p-4 flex justify-center w-64 mx-auto my-8">
        <svg
          width="184"
          height="76"
          viewBox="0 0 184 76"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="Logo">
            <path
              id="Vector"
              d="M91.5377 75.75C79.5349 75.75 67.5322 75.75 55.4545 75.75C55.2294 73.4366 55.0043 71.1231 54.7793 68.7351C55.6795 69.4813 56.4297 70.2276 57.2549 70.75C57.855 71.1231 58.6052 71.347 59.2803 71.347C66.632 71.4216 74.0587 71.347 81.4104 71.347C82.6106 71.347 82.9857 71.1231 83.1358 69.9291C83.2858 69.1082 83.2858 68.2873 83.2858 67.4664C83.2858 48.1381 83.2858 28.8097 83.2858 9.40672C83.2858 8.06343 83.2108 6.64552 83.1358 5.30224C83.0607 3.43657 82.5356 2.39179 80.7352 0.75C84.411 0.75 88.0869 0.75 91.8377 0.75C89.5872 2.09328 89.3622 4.25746 89.2872 6.42164C89.2121 9.6306 89.1371 12.7649 89.1371 15.9739C89.1371 33.959 89.1371 51.944 89.0621 69.9291C89.2121 72.2425 89.4372 74.3321 91.5377 75.75Z"
              fill="white"></path>
            <path
              id="Vector_2"
              d="M152.227 42.9888C152.227 46.1231 151.777 49.1828 150.501 52.0933C148.551 56.6455 145.25 59.8545 140.524 61.4963C134.148 63.8097 127.846 63.5112 121.995 60.153C116.369 56.944 113.293 51.8694 112.918 45.3769C112.768 42.7649 112.693 40.0037 113.293 37.4664C114.868 31.0485 118.694 26.4963 125.146 24.4067C130.397 22.6903 135.723 22.541 140.824 24.7799C147.951 27.9142 151.477 33.5858 152.077 41.1978C152.302 41.7948 152.227 42.3918 152.227 42.9888ZM146.525 42.2425C146.45 41.7201 146.375 40.6754 146.3 39.7052C145.475 33.8097 141.124 28.3619 134.073 27.7649C127.996 27.2425 122.22 30.3769 119.969 35.8993C118.469 39.556 118.244 43.2873 118.919 47.1679C120.119 53.5112 124.695 57.7649 130.922 58.3619C137.748 59.0336 142.474 55.5261 144.725 51.0485C146.075 48.4366 146.525 45.6754 146.525 42.2425Z"
              fill="white"></path>
            <path
              id="Vector_3"
              d="M133.547 68.8843C133.322 71.1978 133.097 73.4366 132.797 75.75C120.494 75.75 108.192 75.75 95.9638 75.75C95.9638 75.75 95.9638 75.6754 95.9638 75.6007C97.6892 74.1828 98.3643 72.3172 98.3643 70.0784C98.3643 50.0037 98.4393 29.9291 98.4393 9.85448C98.4393 8.73507 98.3643 7.54104 98.3643 6.42164C98.3643 4.18284 97.8392 2.09328 95.5137 0.75C99.3395 0.75 102.94 0.75 106.616 0.75C106.616 0.75 106.616 0.824627 106.616 0.899254C104.741 2.31716 104.216 4.33209 104.216 6.49627C104.141 12.8396 104.066 19.2575 104.066 25.6007C104.066 38.1381 104.141 50.6754 104.216 63.2127C104.216 65.3769 104.366 67.6157 104.516 69.7798C104.591 70.9739 104.891 71.2724 106.091 71.2724C110.517 71.4216 114.943 71.4963 119.369 71.4963C122.745 71.4963 126.121 71.347 129.496 71.2724C131.147 71.2724 132.197 70.4515 133.097 69.1828C133.172 69.0336 133.322 68.959 133.397 68.8097C133.322 68.8843 133.322 68.8843 133.547 68.8843Z"
              fill="white"></path>
            <path
              id="Vector_4"
              d="M1.14222 24.3325C1.21724 24.3325 1.51731 24.3325 1.74236 24.3325C6.39342 24.3325 11.0445 24.2579 15.6205 24.3325C21.7719 24.4817 27.3232 26.422 31.6742 30.9743C34.2248 33.5862 35.5751 36.7205 35.8751 40.3026C36.2502 43.8847 36.1752 47.3922 34.6749 50.7504C32.4243 55.8996 28.3734 59.1086 22.9722 60.6758C20.0465 61.5713 17.0458 61.8698 14.0452 61.8698C9.91922 61.9444 5.71826 61.8698 1.59232 61.8698C1.44229 61.8698 1.21724 61.8698 0.992188 61.7952C2.94263 60.6758 3.54277 58.8847 3.54277 56.8698C3.61778 48.5116 3.6928 40.1534 3.6928 31.7952C3.6928 30.6011 3.6928 29.4071 3.54277 28.2131C3.39273 27.3922 3.16768 26.4967 2.71758 25.825C2.34249 25.228 1.66734 24.8549 1.14222 24.3325ZM9.46912 28.8847C9.46912 29.1086 9.46912 29.3325 9.3941 29.4817C9.3941 36.9444 9.31908 44.4071 9.31908 51.7952C9.31908 52.9146 9.3941 53.9594 9.54413 55.0788C9.76919 56.5713 10.5194 57.4668 12.0947 57.5414C14.4202 57.6161 16.7458 57.7653 18.9963 57.3176C25.4478 55.9743 29.6487 51.2728 30.2488 44.7056C30.774 39.1086 28.8235 34.4071 24.0224 31.1982C19.5964 28.1385 14.6453 27.8399 9.46912 28.8847Z"
              fill="white"></path>
            <path
              id="Vector_5"
              d="M58.3803 22.3171C58.7554 22.9142 59.0554 23.3619 59.2805 23.8097C61.606 28.8097 63.9316 33.8097 66.1821 38.8097C68.9577 44.9291 71.7333 51.1231 74.659 57.2425C75.4092 58.9589 76.0843 60.75 78.0348 61.7201C74.509 61.7201 71.0582 61.7201 67.5324 61.7201C67.5324 61.6455 67.5324 61.5709 67.5324 61.5709C68.9577 60.75 68.8827 59.4813 68.5076 58.2127C67.7574 56.1231 66.9322 53.9589 66.107 51.8694C66.032 51.6455 65.6569 51.4962 65.4319 51.4962C60.7058 51.4216 55.9047 51.4216 51.1786 51.4216C50.9536 51.4216 50.6535 51.6455 50.5785 51.8694C49.6783 53.9589 48.7781 56.0485 48.0279 58.2127C47.2027 60.3768 47.2778 60.5261 49.1532 61.8694C45.7774 61.8694 42.5517 61.8694 39.0259 61.8694C41.4264 60.8246 41.8765 58.6604 42.7017 56.7947C47.1277 46.5709 51.7038 36.347 56.2798 26.1977C56.7299 25.153 57.255 24.1828 57.7801 23.138C57.9302 22.9142 58.0802 22.6903 58.3803 22.3171ZM58.0802 32.8395C58.0052 32.8395 57.9302 32.8395 57.8552 32.8395C56.0548 37.4664 54.1793 42.0933 52.3039 46.8694C56.2798 46.8694 59.9556 46.8694 63.7815 46.8694C61.8311 42.1679 59.9556 37.541 58.0802 32.8395Z"
              fill="white"></path>
            <path
              id="Vector_6"
              d="M157.628 24.332C166.33 24.332 175.032 24.332 183.884 24.332C177.507 35.4514 171.206 46.4962 164.829 57.6156C164.979 57.6902 165.054 57.7649 165.129 57.7649C169.33 57.7649 173.531 57.7649 177.732 57.6156C180.133 57.541 182.308 56.6455 183.959 54.5559C183.959 54.7798 184.034 55.0037 183.959 55.1529C183.734 57.1679 183.509 59.1082 183.284 61.1231C183.209 61.7201 182.909 61.7947 182.383 61.7947C173.906 61.7947 165.43 61.7947 156.953 61.7947C156.728 61.7947 156.503 61.7947 156.127 61.7201C162.429 50.6753 168.58 39.7798 174.882 28.735C174.432 28.735 174.132 28.6604 173.831 28.6604C170.081 28.6604 166.255 28.6604 162.504 28.6604C160.779 28.6604 159.128 28.8843 158.078 30.4514C158.003 30.5261 157.853 30.6007 157.628 30.7499C157.628 28.5858 157.628 26.4962 157.628 24.332Z"
              fill="white"></path>
          </g>
        </svg>
      </div>
      <a
        href="http://www.editions-dalloz.fr/"
        style="font-size: 0.95em; line-height: 1.4em; color:#2c4359; text-decoration:none;"
        >www.editions-dalloz.fr</a
      >
    </h4>
  </div>
</Layout>
