---
import GithubIcon from "./icons/Github.astro";

const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="flex my-4 flex-wrap justify-center items-center">
    <a href="/" class="logo" target="_blank" rel="noreferrer noopener">
      Accueil
    </a>
    <a href="/equipe" class="logo" target="_blank" rel="noreferrer noopener">
      L'équipe
    </a>
    <a href="/about" class="logo" target="_blank" rel="noreferrer noopener">
      Présentation
    </a>
    <a href="/volumes" class="logo" target="_blank" rel="noreferrer noopener">
      Tous les numéros
    </a>
    <a href="/publications" class="logo" target="_blank" rel="noreferrer noopener">
      Tous les volumes papier
    </a>
    <a href="/abonnement" class="logo" target="_blank" rel="noreferrer noopener">
      Acheter un volume
    </a>
    <a href="/contact" class="logo" target="_blank" rel="noreferrer noopener">
      Contact
    </a>
  </div>
  <div class="flex flex-row text-color-light items-center mb-4">
    Made with 🩶 by RubidiumWeb ({currentYear}) <GithubIcon />
  </div>
</footer>

<style>
  .footer {
    @apply flex flex-col justify-around items-center;
    background-color: rgba(var(--accent));
  }
  .footer a {
    @apply m-1 text-lg text-color-light;
    list-style: none;
  }
</style>
