---
import ornement from "../images/ornementHaut.png";
import logo from "../images/droit-philosophie.png";
import LogoNavBar from "./icons/LogoNavBar.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="head1">
  <ThemeToggle id="theme-toggle" />
  <a href="/">
    <!-- <span class="font-light uppercase relative" -->
    <!--   >Droit Philosophie <Logo /> -->
    <!-- </span> -->
    <div class="w-24 inline-block lg:hidden fill-white z-20 relative">
      <LogoNavBar />
    </div>
    <img
      class="hidden lg:block"
      height="auto"
      width="400"
      src={logo.src}
      alt="Logo droit philosophie"
    />
  </a>
  <img
    class="absolute top-0 right-0 z-10"
    height="10"
    width="200"
    src={ornement.src}
    alt="ornement"
  />
</div>

<script src="/js/change-theme.js" type="text/javascript"></script>

<style>
  .head1 {
    @apply relative flex justify-center items-center;
    background-color: rgba(var(--accent));
    min-height: 8rem;
  }

  h1 {
    @apply text-4xl lg:text-5xl;
    position: relative;
    /* font-weight: 700; */
    line-height: 1;
    text-align: center;
    color: rgba(var(--background));
    z-index: 2;
  }
</style>
