---
import { readItems } from "@directus/sdk";
import Layout from "../../layouts/Layout.astro";
import { getDirectusClient } from "../../utils/get-directus-client.js";

const directus = await getDirectusClient();

const recensions = await directus.request(
  readItems("Articles", {
    fields: [
      "slug",
      "title",
      "type",
      "position",
      { authors: ["author_id.fullname"] },
    ],
    sort: ["-position"],
    filter: {
      _and: [
        {
          site_id: {
            _eq: "1",
          },
        },
        {
          type: {
            _eq: "recension",
          },
        },
      ],
    },
  }),
);
const lastRecension = recensions.shift();
---

<Layout title="Droit & Philosophie.">
  <div class="max-w-screen-lg m-2 lg:m-auto">
    <h3 class="page_title">Dernière recension parue</h3>
    <span class="article_author">
      {lastRecension.authors.map((a) => a.author_id.fullname).join(", ")} :
    </span>
    <span class="article_title">
      <a href={`articles/${lastRecension.slug}`}>{lastRecension.title}</a>
    </span>
    <h3 class="page_title">Les anciennes recensions</h3>
    <ul>
      {
        recensions.map((article) => (
          <li class="">
            <span class="mr-1 article_author">
              {article.authors.map((a) => a.author_id.fullname).join(", ")} :
            </span>
            <span class="article_title">
              <a href={`articles/${article.slug}`}>{article.title}</a>
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
