---
import Layout from "../../layouts/Layout.astro";
import Volume from "../../components/Volume.astro";
import OtherVolumes from "../../components/OtherVolumes.astro";

import { getDirectusClient } from "../../utils/get-directus-client";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const directus = await getDirectusClient();
  const volumes = await directus.request(
    readItems("Volumes", {
      fields: [
        "slug",
        "title",
        "number",
        "published_at",
        {
          sections: [
            "title",
            {
              articles: [
                "title",
                "slug",
                {
                  authors: [
                    "author_id.fullname",
                    "author_id.firstname",
                    "author_id.lastname",
                  ],
                },
              ],
            },
          ],
        },
      ],
      sort: ["-id"],
      filter: {
        site_id: {
          _eq: "1",
        },
      },
    }),
  );
  return volumes.map((volume) => ({
    params: { slug: volume.slug },
    props: { volume },
  }));
}

const { volume } = Astro.props;
---

<Layout title="Droit & Philosophie.">
  <div class="m-auto max-w-screen-xl flex flex-row">
    <div class="sidebar">
      <h1 class="sidebar_title">Les autres numéros</h1>
      <div class="sidebar_list">
        <OtherVolumes volume={volume} />
      </div>
    </div>
    <Volume volume={volume} />
  </div>
  <style>
    main {
      margin: auto;
    }
  </style>
</Layout>
