---
import Layout from "../../layouts/Layout.astro";
import Volume from "../../components/Volume.astro";
import { getDirectusClient } from "../../utils/get-directus-client.js";
import { readItems } from "@directus/sdk";
import OtherVolumes from "../../components/OtherVolumes.astro";

const directus = await getDirectusClient();
const volumes = await directus.request(
  readItems("Volumes", {
    fields: [
      "slug",
      "title",
      "number",
      "published_at",
      {
        sections: [
          "title",
          {
          chapters: ["title", "position", {articles: ["title", "slug", { authors: ["author_id.fullname"] }]}],
          },
          {
            articles: ["title", "slug", { authors: ["author_id.fullname"] }],
          },
        ],
      },
    ],
    sort: ["-id"],
    filter: {
      site_id: {
        _eq: "1",
      },
      active: {
        _eq: "1",
      },
    },
  }),
);
---

<Layout title="Droit & Philosophie.">
  <main class="max-w-screen-lg">
    <h3 class="page_title">Dernier numéro</h3>
    <Volume volume={volumes[0]} />
    <h3 class="page_title">Les anciens numéros</h3>
    <OtherVolumes volume={volumes[0]} />
    <style>
      main {
        margin: auto;
      }
    </style>
  </main>
</Layout>
